{{title}}

<mat-toolbar>
   <button mat-button class="first"><a class="nav-link" routerLinkActive="active" routerLink="/admin">Admin</a></button>
   <button mat-button><a class="nav-link" routerLinkActive="active" routerLink="/edit">Edit</a></button>
   <button mat-button><a class="nav-link" routerLinkActive="active" routerLink="/search">Search</a></button>
   <button mat-button><a class="nav-link" routerLinkActive="active" routerLink="/citizen">Citizen</a></button>
</mat-toolbar>
<router-outlet></router-outlet>